*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.3s;
}

#root{
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.next {
  border-radius: 8px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.next:hover {
  border-color: #646cff;
}
.next:focus,
.next:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.contact-btn{
  bottom: 60px;
  width: 50dvw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.home{
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.card-container{
  width: 100dvw;
  height: 60dvh;
  padding: 10px;
}

.card{
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  background-color: #535bf2;
  border-radius: 20px;
}

.card h3{
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid gray;
}

.card p{
  font-size: 20px;
  font-weight: 400;
  text-align: right;
}


/* signup page */
.signUpForm{
  width: 90dvw;
  height: 60dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.switch-btn{
  width: 100%;
  height: 30px;
  background-color: blue;
}
.switch-btn-active{
  width: 100%;
  height: 30px;
  background-color: gray;
}

.signUpForm input{
  width: 90%;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
}

.signUpForm .signupSubmit{
  width: 60px;
  height: 30px;
  border-radius: 10px;
}


/* chatUI */
.chatUI{
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-rows: 15% 75% 10%;
}

.chatUI h3{
  font-size: 26px;
  font-weight: 600;
  border-bottom: 1px solid #213547;
}

.chat-bottom{
  border-top: 1px solid #213547;
  padding: 10px;
}

.microphone{
  width: 34px;
  height: 34px;
  border-radius: 50%;
}


/* preferences */
.select-preferences{
  width: 90%;
  padding: 5px;
  height: 30px;
}


/* contact */
#contact {
  padding: 60px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: var(--clr-secondary);
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #112363;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #112363;
}

#contact .contact-info a {
  color: #4869df;
}

#contact .contact-info a:hover {
  color: var(--clr-secondary);
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}

@media (min-width: 768px) {

  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .php-email-form input:focus,
#contact .php-email-form textarea:focus {
  border-color: var(--clr-secondary);
}

#contact .php-email-form input {
  padding: 10px 15px;
}

#contact .php-email-form textarea {
  padding: 12px 15px;
}

#contact .php-email-form button[type=submit] {
  background: var(--clr-secondary);
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

#contact .php-email-form button[type=submit]:hover {
  background: var(--clr-secondary-hover);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}